<main class="main">

  <section class="search js_search">
  
      <form action="#">
          <input type="text" class="js_input_element input-element" placeholder="margarita">
          <input type="button" value="Buscar" class="js_search search-btn">
          <input type="button" value="Reset" class="js_reset_btn btn-reset">
      </form>
  
  </section>
  
  
  <section class="favourites">
      <h2>Mis Cócteles Favoritos</h2>
      <ul class="favorite_cocktail js_favorite"></ul>
  </section>
  
  <section class="list">
      <h2>Lista Cócteles</h2>
      <ul class="list_cocktel js_list_cocktails"></ul>
  </section>
  
  </main>
