<main class="main">

  <section class="search js_search">
      <form class="#">
        <label for="input" class="search_label">Buscador:</label>
          <input type="text" id="input" class="js_input_element input-element" placeholder="Ej: margarita">
        </label>
          
          <input type="button" value="Buscar" id="search" class="js_search search-btn">
       
          <input type="button" id="reset" value="Reset" class="js_reset_btn btn-reset">
     
        <input type="button" id="Log" value="Log" class="js_log_btn btn-log">
      </form>
  </section>
  <section class="list-section">
    <div class="one_div">
      <h2 class="h2_title">Mis Cócteles Favoritos</h2>
      <ul class="favorite_cocktail js_favorite"></ul>
      <button class="reset_fav js_reset_fav hidden"><img src=./assets/images/36_104857.png class="img_trash " alt="image-trash"/></button>
    </div>
    <div class="two_div">
      <h2 class="list_title">Lista Cócteles</h2>
      <ul class="list_cocktail js_list_cocktail"></ul>
    </div>
  </section>

  
  </main>
