<main class="main">

  <section class="search js_search">
      <form class="#">
        <label for="input">Buscador:</label>
      
          <input type="text" id="input" class="js_input_element       input-element" placeholder="Ej: margarita">
        </label>
          <label for="search">
          <input type="button" value="buscar" id="search" class="js_search search-btn">
        </label>
        <label for="search">
          <input type="button" id="reset" value="Reset" class="js_reset_btn btn-reset">
        </label>
      </form>
  </section>
  
  
  <section class="favourites">
    <h2 class="h2_title">Mis Cócteles Favoritos</h2>
    <ul class="favorite_cocktail js_favorite"></ul>
  </section>
  
  <section class="list">
    <h2>Lista Cócteles</h2>
    <ul class="list_cocktail js_list_cocktail"></ul>
  </section>
  
  </main>
